
body{
    background-image: url("../img/fond5.jpg");
    height: 100%;
    min-height: 100vh;
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.accueil{
    background-color: #464ed3;

    border: 1px solid white;
    color:white;
    opacity: 80%;
    cursor:pointer;
    padding:10px;
    text-decoration: none;
    font-size: 20px;
    margin-top:0px;
}

.container{
 
    display:flex;
    justify-content: center;
    color:white;
    
    margin:auto;
    flex-direction: row;
    width: 60%;
    opacity: 80%;
    text-align: center;
}

.hp{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hp>*{
    padding:3px;
}
.herostats,.monsterstats{
    display:flex;
    justify-content: center;
    color:white;
    background-color:#464ed3;
    border: 2px solid white;
    margin:auto;
    flex-direction: column;
    padding:0px;
    margin:0px;
    width:20%;

}
.herostats>*{
    font-size:20px;
}
.monsterstats>*{
    font-size:20px;
}

.log{
    display:flex;
    justify-content: center;
    color:white;
    background-color:#464ed3;
    border: 2px solid white;
    margin:auto;
    flex-direction: column;
    padding:0px;
    margin:0px;
    width:80%
}
.log>p{
    margin:0px;
    padding:1px;
}
svg{
    
}
.arena{
    width :100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
   
}

.hero{

width: 200px;
align-self: flex-end;
}

.hero>img{
    width: 100%;
}
.monster{
    width: 400px;
    align-self: flex-end;
    }
    
.monster>img{
    width: 100%;
}

body{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.pv{
    display: flex;
    flex-direction: row;
    margin:auto;
}
.pv>*{
    align-self: center;
    padding:2px;
}

.next{
    background-color: #464ed3;
    width:60%;
    border: 1px solid white;
    color:white;
    opacity: 80%;
    cursor:pointer;
    height: 50px;
    font-size: 20px;
    margin-top:0px;
    
}
.menu{
    background-color: #464ed3;
    width:60%;
    border: 1px solid white;
    color:white;
    opacity: 80%;
    cursor:pointer;
    height: 50px;
    font-size: 20px;
    margin-top:0px;
}
.container{
    margin-bottom:0px;
}
.tour{
   font-size:20px;
}
.display{
    display: block;
}
.hide{
    display: none;
}
.attackHero{
    animation-name: attackHero;
    animation-duration: 1s;
}

@keyframes attackHero{
    0% {
        transform: translateX(0%);
        
    }
    50%{
        transform: translateX(500%);
    }
    100% {
        transform: translateX(0%);
    }
}

.attackMonster{
    animation-name: attackMonster;
    animation-duration: 1s;
}

@keyframes attackMonster{
    0% {
        transform: translateX(0%);
        
    }
    50%{
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}


/* Style pour les écrans larges (par exemple, les ordinateurs de bureau) */
@media (min-width: 1024px) {
    @keyframes attackHero{
        0% {
            transform: translateX(0%);
            
        }
        50%{
            transform: translateX(500%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    
    .attackMonster{
        animation-name: attackMonster;
        animation-duration: 1s;
    }
    
    @keyframes attackMonster{
        0% {
            transform: translateX(0%);
            
        }
        50%{
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}

/* Style pour les tablettes */
@media (max-width: 1023px) and (min-width: 768px) {
    @keyframes attackHero{
        0% {
            transform: translateX(0%);
            
        }
        50%{
            transform: translateX(160%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    
    .attackMonster{
        animation-name: attackMonster;
        animation-duration: 1s;
    }
    
    @keyframes attackMonster{
        0% {
            transform: translateX(0%);
            
        }
        50%{
            transform: translateX(-90%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}

/* Style pour les smartphones */
@media (max-width: 767px) {
    @keyframes attackHero{
        0% {
            transform: translateX(0%);
            
        }
        50%{
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    
    .attackMonster{
        animation-name: attackMonster;
        animation-duration: 1s;
    }
    
    @keyframes attackMonster{
        0% {
            transform: translateX(0%);
            
        }
        50%{
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}