html{

}
body{
    background-image: url("../img/fond.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.accueil{
    text-decoration: none;
    color: grey;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
}

.container{
    display:flex;
   
    justify-content: center;
    background-color:lightgrey;
    border: 2px solid white;
    margin:auto;
    flex-direction: column;
    width: 40%;
    opacity: 80%;
    text-align: center;
}